@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 41px;

}

.header__right {
    display: flex;
    align-items: center;
    gap: 25px;
}
.top-head {
    background-color: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 96px;
}

.top-head__heading {
    color: $colorSelectSite;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.formaRegistration {
    display: grid;
    grid-template-columns: 350px 500px;
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
&__forma {
        width: 350px;
        height: 500px;
        border: 1px solid red;
    }
        &__yourName {
    color: rgb(164, 164, 164);
font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
        letter-spacing: 0%;
        }
        &__LOYALTY-HAS-ITS-PERKS {
                width: 750px;
            height: 500px;
            border: 1px solid red;
        }
}

